.itemDetail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.details{
    font-family: "Playfair Display", serif;
    margin-bottom: 1rem;
}

.button{
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: "Playfair Display", serif;
    margin-top: 2rem;
    padding: 0.5rem;
    text-align: center;
}

.buttonContainer{
    margin-top: 3rem
}

.buttonSection{
    margin-bottom: 2rem;
}

.buttonHover:hover {
    color: grey;
}