.productCard{
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

.link {
    color: black;
    text-decoration: none; 
}

.link:hover {
    color: grey; 
}