.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Playfair Display", serif;
}

.title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    text-decoration: none;
}

.link {
    color: black;
    text-decoration: none; /* Quita la decoración de texto */
}

.link:hover {
    color: grey; /* Cambia el color de texto al pasar el mouse sobre los enlaces */
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}
